*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #718DA5;
	font-family: Arial, Helvetica, Verdana, sans-serif;
}

header{
	background-color: #282828;
	color: white;
	padding: 15px;
	text-align: center;
}

div#gameWindow{
	background-color: black;
	margin: 40px auto auto auto;
	min-width: 400px;
	max-width: 750px;
	min-height: 400px;
	color: white;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
}

/*
	configurações da imagem*
	width = ({largura da imagem} * 4 / 3) - {Resultado da divisão} 

	animações*
	0% = right: {resultado da divisão}
	100% = right: 0px
	
	se o parallax ficar muito grande, podes adicionar 
	mais uma vez parte do parallax(no caso a largura) 
	em um editor de imagem.
*/

img#backgroundUno{
	display: flex;
	position: absolute;
	width: 3072px;
	image-rendering: pixelated;
	min-height: 400px;
}

.moverback{
	animation: 12s moverelba linear infinite;
}

@keyframes moverelba{
	0%{right: -1024px;}
	100%{right: 0px;}
}

img#TitleSprite{
	width: 333px;
	display: flex;
	text-align: center;
	position: relative;
	left: 200px;
	top: 50px;
	image-rendering: pixelated;
	opacity: 0%;
}

h2#msgTit{
	color: yellow;
	text-align: center;
	position: fixed;
	margin: 80px 0px 50px 250px;
	opacity: 0%;
}

img#logoIm{
	width: 450px;
	text-align: center;
	margin: 20%;
	opacity: 0%;
}

h1#gameOverMsg{
	opacity: 0%;
	font-size: 4em;
	text-align: center;
	margin-top: 150px;
}

.opaciUp{
	animation: 4100ms opUp linear;
}

@keyframes opUp{
	from{opacity: 0%;}to{opacity: 100%;}
}

footer{
	text-align: center;
	background-color: #282828;
	padding: 4px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

footer p{
	font-size: 1.1em;
	color: white;
}

footer a{
	color: white;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

.whiteUp{
	animation: adicionarWhite ease-out;
	animation-duration: 8s;
}

.whiteDown{
	animation: tirarWhite ease-out;
	animation-duration: 8s;
}

.opacityOff{
	animation: 4100ms bluetoBlack linear;
}

@keyframes bluetoBlack{
	from{opacity: 100%;} to {opacity: 0%;}
}

@keyframes adicionarWhite{
	0% {opacity: 0%;}
	30% {opacity: 100%;}
	70% {opacity: 100%;}
	100% {opacity: 0%;}
}

@keyframes tirarWhite{
	0% {background-color: black;}
	20% {background-color: white;}
	70% {background-color: white;}
	100% {background-color: 0%;}
}